# stage 3
## 사이킷런으로 선형회귀식 나타내기

### 1. data set 구성하기 - Training/ Validation/ Test

train_data : 크기, 욕실수, 층수, ...  
target_data : 집값  

train_data를 8:2 로 나누고, 8할을 Train set, 2할을 Test set으로 둔다  
Train set을 다시 8:2로 나눠서 8할을 Train set, 2할을 Validation set으로 분할- target_data도 똑같이...

In [1]:
import pandas as pd

df = pd.read_csv('data/house.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [2]:
houseData = df.drop(['id','date'], axis=1)
houseData.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [16]:
from sklearn.model_selection import train_test_split

train_data = houseData.drop(['price'],axis=1) # 가격 빼고 나머지 열을 train data로 사용
target_data = houseData['price']

# train : test = 8:2
x_train, x_test, y_train, y_test = train_test_split(train_data, target_data, test_size=0.2) #test_size 로 비율 정함

# train을 다시 train : Validation = 8:2
x_train, x_valid, y_train, y_valid = train_test_split(x_train, y_train, test_size=0.2) #test_size 로 비율 정함

# 각 데이터의 개수
print('모든 데이터', train_data.shape)
print('train set', x_train.shape, y_train.shape)
print('valid set', x_valid.shape, y_valid.shape)
print('test set', x_test.shape, y_test.shape)

# (21613, 18)에서 18이라는 숫자는 열의 개수--

모든 데이터 (21613, 18)
train set (13832, 18) (13832,)
valid set (3458, 18) (3458,)
test set (4323, 18) (4323,)

In [15]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression().fit(x_train, y_train) #학습 시키기

print('train set score', lr.score(x_train, y_train)) # 이미 한번 공부한 내용이므로 더 높은 숫자 나옴
print('valid set score', lr.score(x_valid, y_valid)) #학습된 데이터로 validation set 을 검증

train set score 0.7067171088331858
valid set score 0.6811256494891083

집값 == 연속적인 값  
105000 이라고 예상-> 실제값이 104999 라면, O ? X ?  

( 이전의 카테고리값은 1 이라고 예상 -> 1이면 O, 아니면 X 결정 )  

그래서 오차를 보고 오차가 얼마나 작은가에 O, X 결정  
사이킷런의 기능 이용-
```python
from sklearn.linear_model import LinearRegression  
lr = LinearRegression().fit(~~~)
lr.score()
```
.score() 한 값이 **높으면** "학습 잘 된 것" 이라고 이해

// score 는 상관계수에 기인한 **결정계수**

In [12]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline

model = make_pipeline(PolynomialFeatures(2),
                     LinearRegression())

model.fit(x_train, y_train) 
        #학습 시켜주기 fit()

print('train set score', model.score(x_train, y_train))
print('valid set score', model.score(x_valid, y_valid))

train set score 0.8369596296112143
valid set score 0.7955068989124229

1차함수에서 2차함수로 높아지니까,  
정확도가 더 높아진 걸 알 수 있음  
1차의 regression보다   
대부분의 상황에서는 polynomial 이 2일 때 더 높은 값이 나온다

## 미션 1
### polynomial Features 가 3인 모델 만들기
이 틀을 그대로 복사해서 써도 사이킷런 잘 사용하는 것.  
Polynomial의 값을 바꿔주는 것만 해도 Ok

In [17]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline

model3 = make_pipeline(PolynomialFeatures(3),
                     LinearRegression())

model3.fit(x_train, y_train) 
        #학습 시켜주기 fit()

print('train set score', model3.score(x_train, y_train))
print('valid set score', model3.score(x_valid, y_valid))

train set score 0.8662011060250416
valid set score -0.9251388927669348

validation set의 score 음수값 나옴  
3차항이 2차항 보다 표현력이 높은 만큼 더 많은 데이터를 필요로 하기 때문  
집값 추정 문제는 3차항을 요구할 정도로 복잡한 문제는 아닌 것일 수도.  

더 많은 데이터로 학습 시켜야 제대로 된 결과가 나올 것.  
우리는 PolynomialFeatures(2) 로 하는 게 가장 정확

## 자율실습 1
### 특정 조건의 집값 예측

```python
myData = pd.Series({ #새로운 표(?) 만들기 Series
    "bedrooms":2,
    "bathrooms":2.5,
    "sqft_living": 3000,
    "sqft_lot": 5500,
    "floors":4.
    "waterfront":0,
    "view":0,
    "condition": 3,
    "grade": 9,
    ...
})

my_df = pd.dataFrame([my_data]) # 위 데이터로 데이터프레임 만들기

lr.predict(my_df) # 이미 학습된 선형모델 lr로 my_df 예측하기!
```

## 자율실습 2
### Decision Tree Regressor

In [ ]:
from sklearn.tree import DecisionTreeRegressor

tree = DecisionTreeRegressor().fit